body {
  text-align: center;
}
.header {
  font-family: "helvetica" sans-serif;
  color: white;
  background-image: url("../resources/photo/the-flatiron-building.png");
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
a {
  font-size: 18px;
  color: white;
}
